<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_bird_bb_1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-11}</string>
                <key>spriteSize</key>
                <string>{318,256}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{631,1779},{318,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_bb_1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-11}</string>
                <key>spriteSize</key>
                <string>{322,252}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1779},{322,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_bb_1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-15}</string>
                <key>spriteSize</key>
                <string>{318,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{307,1025},{318,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_bb_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-15}</string>
                <key>spriteSize</key>
                <string>{316,250}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{307,1275},{316,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-12}</string>
                <key>spriteSize</key>
                <string>{304,250}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1273},{304,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{304,252}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{325,1779},{304,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{306,250}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{621,1527},{306,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{308,250}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1527},{308,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-12}</string>
                <key>spriteSize</key>
                <string>{308,250}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{311,1527},{308,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{310,250}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{625,1275},{310,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-13}</string>
                <key>spriteSize</key>
                <string>{308,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{627,1025},{308,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-14}</string>
                <key>spriteSize</key>
                <string>{306,246}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{279,777},{306,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-14}</string>
                <key>spriteSize</key>
                <string>{304,246}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{587,777},{304,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{304,246}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1025},{304,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_boy_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,14}</string>
                <key>spriteSize</key>
                <string>{306,190}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{306,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_boy_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,14}</string>
                <key>spriteSize</key>
                <string>{306,190}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{309,1},{306,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_boy_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,14}</string>
                <key>spriteSize</key>
                <string>{306,190}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{617,1},{306,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_boy_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,14}</string>
                <key>spriteSize</key>
                <string>{306,190}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,193},{306,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_boy_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,14}</string>
                <key>spriteSize</key>
                <string>{306,190}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{309,193},{306,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_boy_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,14}</string>
                <key>spriteSize</key>
                <string>{306,190}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{617,193},{306,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_boy_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,14}</string>
                <key>spriteSize</key>
                <string>{306,190}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,385},{306,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_girl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,20}</string>
                <key>spriteSize</key>
                <string>{276,194}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{561,581},{276,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_girl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,20}</string>
                <key>spriteSize</key>
                <string>{278,194}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,577},{278,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_girl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,19}</string>
                <key>spriteSize</key>
                <string>{282,194}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{309,385},{282,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_girl_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,19}</string>
                <key>spriteSize</key>
                <string>{282,194}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{593,385},{282,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_girl_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,19}</string>
                <key>spriteSize</key>
                <string>{278,194}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{281,581},{278,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_girl_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,20}</string>
                <key>spriteSize</key>
                <string>{276,194}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,773},{276,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_girl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,20}</string>
                <key>spriteSize</key>
                <string>{276,194}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{561,581},{276,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ani-4.png</string>
            <key>size</key>
            <string>{950,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bcd456939ba0e4d5b6e41a5966bd1d5:924d25755351ed8b3323fb600ea65b00:4a9ee23d26dd3d8c350fcfdc539a7648$</string>
            <key>textureFileName</key>
            <string>Ani-4.png</string>
        </dict>
    </dict>
</plist>
