<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_bird_bb_2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-1}</string>
                <key>spriteSize</key>
                <string>{450,286}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,743},{450,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_bb_2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-13}</string>
                <key>spriteSize</key>
                <string>{402,256}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{449,1791},{402,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-24}</string>
                <key>spriteSize</key>
                <string>{468,272}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{947,287},{468,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-18}</string>
                <key>spriteSize</key>
                <string>{470,284}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{949,1},{470,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-27}</string>
                <key>spriteSize</key>
                <string>{468,266}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1417,491},{468,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-36}</string>
                <key>spriteSize</key>
                <string>{468,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,493},{468,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-36}</string>
                <key>spriteSize</key>
                <string>{470,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,243},{470,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_2_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-35}</string>
                <key>spriteSize</key>
                <string>{470,250}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{475,241},{470,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_2_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-36}</string>
                <key>spriteSize</key>
                <string>{468,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{471,493},{468,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-35}</string>
                <key>spriteSize</key>
                <string>{468,244}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{941,561},{468,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-34}</string>
                <key>spriteSize</key>
                <string>{468,244}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1411,759},{468,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-35}</string>
                <key>spriteSize</key>
                <string>{470,242}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1421,247},{470,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-35}</string>
                <key>spriteSize</key>
                <string>{472,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{472,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-35}</string>
                <key>spriteSize</key>
                <string>{472,238}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{475,1},{472,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-35}</string>
                <key>spriteSize</key>
                <string>{470,244}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1421,1},{470,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{362,256}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{853,1791},{362,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{362,256}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1217,1791},{362,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-12}</string>
                <key>spriteSize</key>
                <string>{448,262}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{903,807},{448,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-7}</string>
                <key>spriteSize</key>
                <string>{446,272}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{451,1267},{446,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{446,272}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1277},{446,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{448,272}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{453,743},{448,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-36}</string>
                <key>spriteSize</key>
                <string>{448,214}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1353,1251},{448,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-25}</string>
                <key>spriteSize</key>
                <string>{448,236}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{903,1071},{448,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-13}</string>
                <key>spriteSize</key>
                <string>{446,260}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{899,1309},{446,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_2_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-19}</string>
                <key>spriteSize</key>
                <string>{446,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{449,1541},{446,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_2_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-19}</string>
                <key>spriteSize</key>
                <string>{446,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1551},{446,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_2_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-19}</string>
                <key>spriteSize</key>
                <string>{448,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{453,1017},{448,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{446,242}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1801},{446,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{448,244}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1031},{448,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{448,244}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1353,1005},{448,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{448,244}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1803,1005},{448,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_tt_3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{446,244}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1803,1455},{446,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-10}</string>
                <key>spriteSize</key>
                <string>{368,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1269,1571},{368,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_yy_3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-11}</string>
                <key>spriteSize</key>
                <string>{370,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{897,1571},{370,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ani-1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bcd456939ba0e4d5b6e41a5966bd1d5:924d25755351ed8b3323fb600ea65b00:4a9ee23d26dd3d8c350fcfdc539a7648$</string>
            <key>textureFileName</key>
            <string>Ani-1.png</string>
        </dict>
    </dict>
</plist>
