<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_bird_bb_1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-7}</string>
                <key>spriteSize</key>
                <string>{316,266}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1781,1115},{316,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-8}</string>
                <key>spriteSize</key>
                <string>{320,260}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1787,1},{320,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-8}</string>
                <key>spriteSize</key>
                <string>{322,256}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1523,1029},{322,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-11}</string>
                <key>spriteSize</key>
                <string>{320,256}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1523,1353},{320,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{408,270}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1335,757},{408,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_bb_2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{406,280}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{737,1251},{406,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{412,264}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1783,701},{412,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{408,230}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{505,1251},{408,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_2_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{406,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1273,1251},{406,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_2_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{408,250}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{417,769},{408,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_bb_2_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-20}</string>
                <key>spriteSize</key>
                <string>{408,250}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,999},{408,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_bb_3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{408,250}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1251},{408,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{406,252}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1019,1251},{406,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_3_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{408,250}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{253,1251},{408,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{408,252}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{889,767},{408,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{372,246}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1523,1675},{372,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_tt_2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-9}</string>
                <key>spriteSize</key>
                <string>{442,268}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1339,487},{442,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-8}</string>
                <key>spriteSize</key>
                <string>{442,270}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{895,251},{442,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-8}</string>
                <key>spriteSize</key>
                <string>{444,274}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{449,1},{444,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-16}</string>
                <key>spriteSize</key>
                <string>{444,254}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,243},{444,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-19}</string>
                <key>spriteSize</key>
                <string>{442,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{447,277},{442,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_2_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-19}</string>
                <key>spriteSize</key>
                <string>{442,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,499},{442,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_2_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-19}</string>
                <key>spriteSize</key>
                <string>{444,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{895,1},{444,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{444,238}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1341,247},{444,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{446,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{446,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{444,244}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1341,1},{444,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_3_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{442,242}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{891,523},{442,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{442,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{445,527},{442,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_yy_1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{376,250}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1271,1659},{376,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,10}</string>
                <key>spriteSize</key>
                <string>{376,252}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{763,1659},{376,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,11}</string>
                <key>spriteSize</key>
                <string>{376,254}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{251,1661},{376,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,12}</string>
                <key>spriteSize</key>
                <string>{376,258}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1787,323},{376,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,10}</string>
                <key>spriteSize</key>
                <string>{376,254}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{507,1661},{376,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{376,252}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1017,1659},{376,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,4}</string>
                <key>spriteSize</key>
                <string>{414,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,749},{414,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_yy_2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{380,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1661},{380,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_2_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-7}</string>
                <key>spriteSize</key>
                <string>{372,222}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1771,1675},{372,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_2_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{370,220}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{411,1029},{370,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_yy_2_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-9}</string>
                <key>spriteSize</key>
                <string>{368,220}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{783,1029},{368,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_yy_2_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-10}</string>
                <key>spriteSize</key>
                <string>{368,220}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1153,1029},{368,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ani-2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bcd456939ba0e4d5b6e41a5966bd1d5:924d25755351ed8b3323fb600ea65b00:4a9ee23d26dd3d8c350fcfdc539a7648$</string>
            <key>textureFileName</key>
            <string>Ani-2.png</string>
        </dict>
    </dict>
</plist>
