<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_bird_bb_2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{402,272}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{217,1223},{402,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-36}</string>
                <key>spriteSize</key>
                <string>{406,214}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,409},{406,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-36}</string>
                <key>spriteSize</key>
                <string>{404,214}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1223},{404,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-24}</string>
                <key>spriteSize</key>
                <string>{402,236}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{511,811},{402,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_2_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{402,254}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{255,815},{402,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_2_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{404,252}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,817},{404,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{404,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{217,409},{404,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{402,250}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{467,407},{402,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-17}</string>
                <key>spriteSize</key>
                <string>{402,246}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{491,1219},{402,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{402,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{503,1},{402,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{404,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{253,1},{404,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{406,250}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{406,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_tt_1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-9}</string>
                <key>spriteSize</key>
                <string>{364,252}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1665,671},{364,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{368,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1657,925},{368,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-13}</string>
                <key>spriteSize</key>
                <string>{370,236}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1221,1},{370,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_tt_1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-12}</string>
                <key>spriteSize</key>
                <string>{370,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1205,377},{370,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_tt_1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-10}</string>
                <key>spriteSize</key>
                <string>{370,246}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1203,757},{370,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_tt_1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-10}</string>
                <key>spriteSize</key>
                <string>{368,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1647,1175},{368,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-9}</string>
                <key>spriteSize</key>
                <string>{364,252}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1629,1425},{364,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_yy_1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{376,246}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{749,801},{376,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{376,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{753,1},{376,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{376,250}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{251,1627},{376,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{376,246}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{957,379},{376,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,4}</string>
                <key>spriteSize</key>
                <string>{376,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{739,1215},{376,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{390,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1629},{390,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{396,236}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{503,1623},{396,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{394,236}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{719,405},{394,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-16}</string>
                <key>spriteSize</key>
                <string>{370,204}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1459,1},{370,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-6}</string>
                <key>spriteSize</key>
                <string>{368,224}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1207,1129},{368,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{366,230}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1665,1},{366,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_yy_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-16}</string>
                <key>spriteSize</key>
                <string>{368,204}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1451,745},{368,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-16}</string>
                <key>spriteSize</key>
                <string>{372,204}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{997,757},{372,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-16}</string>
                <key>spriteSize</key>
                <string>{374,204}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{949,1593},{374,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-15}</string>
                <key>spriteSize</key>
                <string>{374,206}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{741,1593},{374,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_2_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-10}</string>
                <key>spriteSize</key>
                <string>{366,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1665,233},{366,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_yy_3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-10}</string>
                <key>spriteSize</key>
                <string>{374,216}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1003,1},{374,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-10}</string>
                <key>spriteSize</key>
                <string>{372,216}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{989,1179},{372,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-10}</string>
                <key>spriteSize</key>
                <string>{370,216}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1447,373},{370,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_3_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-10}</string>
                <key>spriteSize</key>
                <string>{368,216}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1207,1499},{368,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-10}</string>
                <key>spriteSize</key>
                <string>{366,216}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1665,453},{366,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_boy_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,14}</string>
                <key>spriteSize</key>
                <string>{306,190}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1425,1679},{306,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_boy_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,14}</string>
                <key>spriteSize</key>
                <string>{306,190}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1617,1679},{306,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_boy_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,14}</string>
                <key>spriteSize</key>
                <string>{306,190}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1809,1679},{306,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_girl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,19}</string>
                <key>spriteSize</key>
                <string>{280,194}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1451,1115},{280,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_girl_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,19}</string>
                <key>spriteSize</key>
                <string>{280,194}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1433,1397},{280,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ani-3.png</string>
            <key>size</key>
            <string>{2032,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bcd456939ba0e4d5b6e41a5966bd1d5:924d25755351ed8b3323fb600ea65b00:4a9ee23d26dd3d8c350fcfdc539a7648$</string>
            <key>textureFileName</key>
            <string>Ani-3.png</string>
        </dict>
    </dict>
</plist>
