<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_bird_bb_1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-10}</string>
                <key>spriteSize</key>
                <string>{324,254}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1411,1719},{324,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-8}</string>
                <key>spriteSize</key>
                <string>{322,260}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1667,1719},{322,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-5}</string>
                <key>spriteSize</key>
                <string>{434,276}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1613},{434,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{416,282}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{575,1613},{416,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{414,292}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1117,1613},{414,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{416,294}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{279,1613},{416,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_bb_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{416,256}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{859,1613},{416,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_pp_2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-17}</string>
                <key>spriteSize</key>
                <string>{506,286}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{506,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-23}</string>
                <key>spriteSize</key>
                <string>{476,272}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{481,303},{476,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{474,298}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,581},{474,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{474,322}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{481,577},{474,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,19}</string>
                <key>spriteSize</key>
                <string>{476,352}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1011,1},{476,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{474,330}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{959,355},{474,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{472,322}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1433,741},{472,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-35}</string>
                <key>spriteSize</key>
                <string>{472,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{953,937},{472,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-34}</string>
                <key>spriteSize</key>
                <string>{474,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,881},{474,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-33}</string>
                <key>spriteSize</key>
                <string>{474,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1435,491},{474,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_2_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-33}</string>
                <key>spriteSize</key>
                <string>{476,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1489,1},{476,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_2_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-34}</string>
                <key>spriteSize</key>
                <string>{474,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{957,687},{474,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_2_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-35}</string>
                <key>spriteSize</key>
                <string>{472,248}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{477,1143},{472,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-35}</string>
                <key>spriteSize</key>
                <string>{474,236}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1131},{474,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-35}</string>
                <key>spriteSize</key>
                <string>{476,238}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1489,251},{476,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-35}</string>
                <key>spriteSize</key>
                <string>{474,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{477,901},{474,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_pp_3_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-35}</string>
                <key>spriteSize</key>
                <string>{472,242}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1369},{472,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,7}</string>
                <key>spriteSize</key>
                <string>{500,300}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{509,1},{500,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{478,290}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,289},{478,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_tt_2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{456,278}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1707,1261},{456,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani_bird_yy_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-16}</string>
                <key>spriteSize</key>
                <string>{376,204}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{951,1187},{376,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_yy_2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-16}</string>
                <key>spriteSize</key>
                <string>{376,204}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1329,1187},{376,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_yy_3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-11}</string>
                <key>spriteSize</key>
                <string>{374,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1231,1393},{374,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_yy_3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-11}</string>
                <key>spriteSize</key>
                <string>{376,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{475,1393},{376,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_bird_yy_3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-10}</string>
                <key>spriteSize</key>
                <string>{376,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{853,1393},{376,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_girl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,18}</string>
                <key>spriteSize</key>
                <string>{284,194}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1707,1065},{284,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ani-0.png</string>
            <key>size</key>
            <string>{1992,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bcd456939ba0e4d5b6e41a5966bd1d5:924d25755351ed8b3323fb600ea65b00:4a9ee23d26dd3d8c350fcfdc539a7648$</string>
            <key>textureFileName</key>
            <string>Ani-0.png</string>
        </dict>
    </dict>
</plist>
